# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environments
venv/
env/
.env

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.coverage